h1 {
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
}

td {
	width: 100px;
	height: 100px;
}

tr td:nth-of-type(2n) {
	border-left: 2px #000000 solid;
	border-right: 2px #000000 solid;
}

table tr:nth-of-type(2n) td {
	border-top: 2px #000000 solid;
	border-bottom: 2px #000000 solid;
}